.navbar {
  display: flex;
  justify-content: space-between;
  gap: 35rem;
  align-items: center;
  padding: 1rem ;
  top: 0;
  position: fixed;
  background-color: #000000;
  color: wheat;
  width: 98.5% ;          
  /* z-index: 1000;    */
}
.navbar-logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar-links {
  list-style: none;
  display: flex;
  gap: 6rem;
  padding: 0;
}

.navbar-links a {
  text-decoration: none;
  color: wheat;
  font-weight: 500;
  transition: color 0.3s ease;
}

.navbar-links a:hover {
  color: #555555;
}